<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.oodles.apprtcandroidoodles">

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="false"
        android:icon="@drawable/oodles_logo"
        android:label="@string/app_name">

        //activity list
        //SplashActivity
        <activity android:name=".login.SplashActivity"
            android:theme="@style/AppTheme">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        //LoginActivity
        <activity
            android:name=".login.LoginActivity"
            android:theme="@style/AppTheme"/>

        //SmackChatting
        <activity
            android:name="smackconnection.SmackChatting"
            android:configChanges="orientation|screenSize"
            android:label="CallActivity"
            android:theme="@style/AppThemeBase" />

        //LoginUserActivity
        <activity
            android:name=".login.LoginUserActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="webrtc.a-fkd.de/jWebrtc"
                    android:scheme="https" />
                <data
                    android:host="webrtc.a-fkd.de/jWebrtc"
                    android:scheme="http" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable_menu" />
        </activity>

        //MainOption
        <activity
            android:name=".login.MainOption"
            android:theme="@style/AppTheme" />

        //CallActivity
        <activity
            android:name=".CallActivity"
            android:configChanges="orientation|screenSize"
            android:keepScreenOn="true"
            android:label="@string/app_name"
            android:screenOrientation="fullUser"
            android:theme="@style/AppThemeBase" />

        //service list
        //NotificationService
        <service
            android:name=".NotificationService"
            android:enabled="true"
            android:exported="true" />

        ///MyFcmListenerService
        <service android:name=".MyFcmListenerService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        //MyInstanceIDListenerService
        <service
            android:name=".MyInstanceIDListenerService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.gms.iid.InstanceID" />
            </intent-filter>
        </service>

        //meta-data list,keys
        //gms version
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        //facebook sdk application id
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        //fabric ApiKey
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="61a7f2b796ee7c6566fee8b87f18340849c1863e" />

    </application>

</manifest>